*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Spartan', sans-serif;
    font-size:0.9em;
    font-weight: 400;
    height: 1300px;
    width:375px;
}
.title{
    color:hsl(300, 43%, 22%);
    margin-left:auto;
    margin-right:auto;
    margin-top:70px;
    margin-bottom: 35px;
    font-size: 2.3em;
    font-weight: 700;
    text-align: center;
    line-height: 34px;
    width:270px;
}
.paragraph{
    width:330px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:25px;
    text-align: center;
    line-height: 25px;
}
.section-1{
    width:375px;
    height:240px;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.review-box{
    position:relative;
    background-color: hsl(300, 24%, 96%);
    height:70px;
    width:320px;
    padding-top: 45px;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    color:hsl(300, 43%, 22%);
} 
.review-box__star--icon-1, .review-box__star--icon-2, .review-box__star--icon-3 ,.review-box__star--icon-4, .review-box__star--icon-5{
    position:absolute;
    top:15px;
    left:97px;
    background-image: url(/assets/images/icon-star.svg);
    background-repeat:no-repeat;
    background-position: center center;
    text-align: center;
    height:17px;
    width:16px;  
}
.review-box__star--icon-2{
    left:125px;
}
.review-box__star--icon-3{
    left:154px;
}
.review-box__star--icon-4{
    left:183px;
}
.review-box__star--icon-5{
    left:212px;
}
.section-2{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:820px;
    width:375px;
    margin-left:auto;
    margin-right:auto;
}
.comment-box{
    position:relative;
    background-color: hsl(300, 43%, 22%);
    height:250px;
    width:320px;
    color:hsl(0, 0%, 100%);
    border-radius: 5px;
    padding:26px;
    padding-top: 105px;
    font-size: 13px;
    line-height: 1.7em;
}
.comment-box__image-1 ,.comment-box__image-2 ,.comment-box__image-3{
    position: absolute;
    top:32px;
    left:26px;
    background-size: cover;
    border-radius:50%;
    width:44px;
    height:44px;
}
.comment-box__image-1{
    background-image:url(/assets/images/image-colton.jpg);
}
.comment-box__image-2{
    background-image:url(/assets/images/image-irene.jpg);
}
.comment-box__image-3{
    background-image:url(/assets/images/image-anne.jpg);
}
.comment-box__name{
    position: absolute;
    left:90px;
    top:30px;
    font-weight: 700;
}
.comment-box__occupation{
    position: absolute;
    left:90px;
    top:55px;
    color:hsl(333, 80%, 67%) ;
}
.background__top{
    position:absolute;
    top:0;
    background-image: url(/assets/images/bg-pattern-top-mobile.svg);
    height:232px;
    width:375px;
}
.background__bottom{
    position: absolute;
    top:928px;
    background-image: url(/assets/images/bg-pattern-bottom-mobile.svg);
    height:503px;
    width:375px;
}

@media screen and (min-width:1024px) {
    body{
        width:100vw;
        height:100vh;
        overflow: hidden;
    }
    .container{
        position:relative;
        margin:20vh 29vh;
        min-width: 1024px;
        /* background-color: aqua; */
    }
    .title{
        /* background-color: yellow; */
        width:34vw;
        max-width: 350px;
        text-align:left;
        line-height: 35px;
        font-size: 2.5em;

        margin:0;
    }    
    .paragraph{
        /* background-color: aquamarine; */
        max-width: 450px;
        text-align: left;
        width: 41vw;
        
        margin:1vh 0 0 0;
        
    }
    .section-1{
        /* background-color: black; */
        width:40vw;
        height:210px;
        margin:0;

        display:grid;
        grid-template-rows:repeat(3,1fr);
        grid-template-columns: 40vw;
        position: absolute;
        top:0;
        right:0;
    }

    .section-1 .review-box:nth-child(1){
        justify-self: start;
    }
    .section-1 .review-box:nth-child(2){
        justify-self: center;
    }
    .section-1 .review-box:nth-child(3){
        justify-self: end;
    }
    
    .review-box{
        position:relative;
        background-color: hsl(300, 24%, 96%);
        height:55px;
        width:480px;
        padding-top: 22px;
        padding-left: 210px;

        
        text-align:justify;
    } 
    .review-box__star--icon-1, .review-box__star--icon-2, .review-box__star--icon-3 ,.review-box__star--icon-4, .review-box__star--icon-5{
        position:absolute;
        top:18px;
        left:32px; 
    }
    .review-box__star--icon-2{
        left:60px;
    }
    .review-box__star--icon-3{
        left:88px;
    }
    .review-box__star--icon-4{
        left:116px;
    }
    .review-box__star--icon-5{
        left:144px;
    }




    .section-2{
        /* background-color: blueviolet; */
        width: inherit;
        height:250px;
        margin:0;
        margin-top:10vh;

        display:grid;
        grid-template-columns:repeat(3,1fr);
        grid-template-rows: 250px;
        justify-content: center;
        

    }
    .section-2 .comment-box:nth-child(1){
        justify-self: flex-start;
        align-self:flex-start ;
    }
    .section-2 .comment-box:nth-child(2){
        justify-self:center;
        align-self:center;
    }
    .section-2 .comment-box:nth-child(3){
        justify-self:flex-end ;
        align-self:flex-end ;
    }
    .comment-box{
        position:relative;
        height:220px;
        width:300px;
        padding:22px;
        padding-top: 105px;
        font-size: 11px;
        line-height: 1.8em;
    }
    .comment-box__image-1 ,.comment-box__image-2 ,.comment-box__image-3{
        top:42px;
        width:40px;
        height:40px;
    }
   
    .comment-box__name{
        top:40px;
    }
    .comment-box__occupation{
        top:60px;
    }
    .background__top{
        background-image: url(/assets/images/bg-pattern-top-desktop.svg);
        height:362px;
        width:584px;
    }
    
    .background__bottom{
        top:40%;
        right:0;
        background-image: url(/assets/images/bg-pattern-bottom-mobile.svg);
        background-size:cover;
        height:673px;
        width:1085px;
    }

}
